header{
    display: flex;
    justify-content: space-between;
    background-color: deepskyblue;
    align-items: center;
}

nav{
    display: flex;
    column-gap: 30px;
}

nav p{
    cursor: pointer;
}

nav p:hover{
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    width: max-content;
}